Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, not-image-related

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            versions_to_build image-data-modified true
            Dockerfile.template image-data-modified true
            scripts/.* image-data-modified true
            Makefile image-data-modified true
            README.md not-image-related true
            @doc/.* not-image-related true
            .chglog/.* not-image-related true
            .circleci/.* not-image-related true
            .github/.* not-image-related true
          config-path: .circleci/workflows.yml

ISSUE-161 Added logic to trap AWS errors on assume-role (#37)
  scripts/aws-mfa/aws-mfa-entrypoint.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.2 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.0.3 [ci skip]
  CHANGELOG.md
Due: none

ISSUE-40 Added logic to handle scenario with more than one sso cache file
  scripts/aws-sso/aws-sso-login.sh
Due: image-data-modified

ISSUE-40 Version bumped
  versions_to_build
Due: image-data-modified

Issue 40 can not sso login with new aws cli (#41)
  scripts/aws-sso/aws-sso-login.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.3 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.0.4 [ci skip]
  CHANGELOG.md
Due: none

Remove old MFA autogeneration
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Handle abort by user as soon as possible
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Print full output of assume-role in case of error
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Fix script exit after three tries
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Remove redundant error message
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Improve error message for invalid length token
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Only show assume-role output on failure
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Update deprecated syntax
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Bump versions to build
  versions_to_build
Due: image-data-modified

Make different internal versions match for all TF versions
  versions_to_build
Due: image-data-modified

ISSUE-16 | Keyboard Interrupt handling (#42)
  scripts/aws-mfa/aws-mfa-entrypoint.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.4 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.4 [ci skip]
  CHANGELOG.md
Due: none

ISSUE-3 Added git to packages to install
  Dockerfile.debian
Due: none

Fix stage names
  Dockerfile.debian
Due: none

ISSUE-3 Replaced old Alpine based Dockerfile with new Debian one
  Dockerfile
  Dockerfile.debian
Due: none

ISSUE-3 Added debian image to filter path
  .circleci/config.yml
Due: not-image-related

ISSUE-3 Added Dockerfile for Debian based image
  Dockerfile.debian
Due: none

ISSUE-3 Version bumped
  versions_to_build
Due: image-data-modified

add kubectl-1.23.15 binary to the image
  Dockerfile
Due: none

get binary from k8s.io
  Dockerfile
Due: none

ISSUE-173 Changed way to add .ssh dir in order to get rid of bad owner issue
  Dockerfile
  scripts/aws-mfa/aws-mfa-entrypoint.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
  scripts/terraform/entrypoint.sh
Due: image-data-modified

ISSUE-173 Version bumped
  versions_to_build
Due: image-data-modified

ISSUE-3 GLIBC arg removed
  Dockerfile
Due: none

ISSUE-3 VAULT removed
  Dockerfile
Due: none

ISSUE-3 Added Dockerfile for Debian based image (#33)
  .circleci/config.yml
  Dockerfile
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.5 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.5 [ci skip]
  CHANGELOG.md
Due: none

HOTFIX added flag to jq command
  scripts/aws-sso/aws-sso-login.sh
Due: image-data-modified

HOTFIX version bumped
  versions_to_build
Due: image-data-modified

HOTFIX added flag to jq command (#45)
  scripts/aws-sso/aws-sso-login.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.6 [ci skip]
  CHANGELOG.md
Due: none
