Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, not-image-related

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix: Dockerfile to reduce vulnerabilities (#69)
  Dockerfile
Due: none

Add latest minor versions to 1.6 and 1.5
  versions_to_build
Due: image-data-modified

Bump Terraform version
  Makefile
Due: image-data-modified

Bump all toolbox verisions to 0.2.2
  versions_to_build
Due: image-data-modified

Revert "Bump Terraform version"
  Makefile
Due: image-data-modified

Feature | Add latest minor versions to 1.6 and 1.5 (#70)
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.2.2 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.2.2 [ci skip]
  CHANGELOG.md
Due: none

Bump version in makefile
  Makefile
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.5.7-0.2.2 [ci skip]
  CHANGELOG.md
Due: none

Bump all versions to 0.2.3
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.2.2 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.6-0.2.2 [ci skip]
  CHANGELOG.md
Due: none

Bump versions in makefile for release (#71)
  Makefile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.2.3 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.2.3 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.7-0.2.3 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.2.3 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.6-0.2.3 [ci skip]
  CHANGELOG.md
Due: none

update cli and flow to fix sso login warnings
  Dockerfile
  scripts/aws-sso/aws-sso-login.sh
Due: image-data-modified

Drop terraform in favor of tofu
  .circleci/workflows.yml
  .github/workflows/le-toolbox-integration-test.yml
  Dockerfile
  Makefile
  README.md
  versions_to_build
Due: image-data-modified, not-image-related

update cli and flow to fix sso login warnings (#72)
  Dockerfile
  scripts/aws-sso/aws-sso-login.sh
Due: image-data-modified

Fix test
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Update versions_to_build
  versions_to_build
Due: image-data-modified

Update versions_to_build (#74)
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.2.4 [ci skip]
  CHANGELOG.md
Due: none

Fix image tag generation
  .circleci/workflows.yml
Due: not-image-related

BL-255 | Drop terraform in favor of tofu (#73)
  .circleci/workflows.yml
  .github/workflows/le-toolbox-integration-test.yml
  Dockerfile
  Makefile
  README.md
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.6.2-tofu-0.3.0 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.3-tofu-0.3.0 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.9.1-tofu-0.3.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  image-data-modified: (((any of: versions_to_build) or (any of: Dockerfile.template)) or (any of: scripts/.*)) or (any of: Makefile)
  not-image-related: ((((any of: README.md) or (any of: @doc/.*)) or (any of: .chglog/.*)) or (any of: .circleci/.*)) or (any of: .github/.*)
