Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, not-image-related

now with requests pinned to 2.31
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

the issue was the docker-py lib
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "20.04?"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "now with requests pinned to 2.31"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "the issue was the docker-py lib"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "another try"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "debugging docker"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "more debugging"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "forcing new path?"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "debugging"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Revert "use version with improved debugging"
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

[Snyk] Security upgrade debian from bullseye-20240211-slim to bullseye-20240513-slim (#62)
  Dockerfile
  Makefile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.18 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.18 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.1.18 [ci skip]
  CHANGELOG.md
Due: none

using /home/leverage rather than /root
  Dockerfile
  scripts/aws-sso/aws-sso-configure.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
  scripts/aws-sso/aws-sso-login.sh
  scripts/aws-sso/aws-sso-logout.sh
Due: image-data-modified

bump version with breaking changes
  versions_to_build
Due: image-data-modified

[BV-195] Avoid /root as home folder (#65)
  Dockerfile
  scripts/aws-sso/aws-sso-configure.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
  scripts/aws-sso/aws-sso-login.sh
  scripts/aws-sso/aws-sso-logout.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.2.0 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.2.0 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.2.0 [ci skip]
  CHANGELOG.md
Due: none

fix: Dockerfile to reduce vulnerabilities (#63)
  Dockerfile
Due: none

fix: Dockerfile to reduce vulnerabilities (#64)
  Dockerfile
Due: none

fix: Dockerfile to reduce vulnerabilities (#66)
  Dockerfile
Due: none

Use correct user on login and logout
  scripts/aws-sso/aws-sso-login.sh
  scripts/aws-sso/aws-sso-logout.sh
Due: image-data-modified

Revert change made by Snyk
  Makefile
Due: image-data-modified

Fix assignment
  scripts/aws-sso/aws-sso-login.sh
  scripts/aws-sso/aws-sso-logout.sh
Due: image-data-modified

Fix circle-ci jobs
  .circleci/workflows.yml
Due: not-image-related

Add rc versions to build
  versions_to_build
Due: image-data-modified

bug: Use the correct user instead of hardcoding leverage (#68)
  .circleci/workflows.yml
  Makefile
  scripts/aws-sso/aws-sso-login.sh
  scripts/aws-sso/aws-sso-logout.sh
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.2.1 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.2.1 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.2.1 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  image-data-modified: (((any of: versions_to_build) or (any of: Dockerfile.template)) or (any of: scripts/.*)) or (any of: Makefile)
  not-image-related: ((((any of: README.md) or (any of: @doc/.*)) or (any of: .chglog/.*)) or (any of: .circleci/.*)) or (any of: .github/.*)
