Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, image-not-modified

ISSUE-9 Fixed workflow to avoid failure
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

ISSUE-9 Fixed workflow to avoid failure
  .circleci/config.yml
Due: none

ISSUE-9 Fixed workflow to avoid failure
  README.md
Due: image-not-modified

Issue 9 fix chglog setup (#12)
  .chglog/config.yml
  .circleci/config.yml
  .circleci/workflows.yml
  README.md
Due: image-not-modified

ISSUE-4 Improved documentation
  README.md
Due: image-not-modified

ISSUE-4 Set sumologic test to run in all cases
  .circleci/workflows.yml
Due: none

ISSUE-4 Moved Dockerfile.template to Dockerfile since now we can pass ARGs to the build command
  Dockerfile.template
  Makefile
Due: image-data-modified

ISSUE-4 Fixed wrong condition in pipeline setup
  .circleci/workflows.yml
Due: none

ISSUE-4 Version bumped
  Makefile
Due: image-data-modified

ISSUE-4 Removed Dockerfile from .gitignore. Added Dockerfile
  .gitignore
  Dockerfile
Due: none

Issue 4 enhancement - refactor repo (#13)
  .circleci/workflows.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
Due: image-data-modified, image-not-modified

ISSUE-4 Master pipeline fixed
  Makefile
Due: image-data-modified

ISSUE-4 Master pipeline fixed (#14)
  Makefile
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.0.3 [ci skip]
  CHANGELOG.md
Due: none

ToDo list creation
  README.md
Due: image-not-modified

ToDo list creation (#15)
  README.md
Due: image-not-modified

ISSUE-17 added additional tags
  Makefile
Due: image-data-modified

ISSUE-17 version bumped
  Makefile
Due: image-data-modified

ISSUE-17 added additional tags (#18)
  Makefile
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.0.4 [ci skip]
  CHANGELOG.md
Due: none

ISSUE-19 Added regex to handle the +00:00 time zone date case
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: none

ISSUE-19 Version bumped
  Makefile
Due: image-data-modified

Fix path mapping
  .circleci/config.yml
Due: none

ISSUE-19 Added regex to handle the +00:00 time zone date case (#20)
  .circleci/config.yml
  Makefile
  scripts/aws-mfa/aws-mfa-entrypoint.sh
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.0.5 [ci skip]
  CHANGELOG.md
Due: none

ISSUE-135 Added basic tests
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Fixed clone step
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Fixed clone url
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Added python version output
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Added leverage stable installation due to test dep issues
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Fixed profile name
  .github/workflows/leverage-cli-test.yml
Due: none

ISSUE-135 Changed names
  .github/workflows/le-toolbox-integration-test.yml
Due: none

ISSUE-135 Added comment
  .github/workflows/le-toolbox-integration-test.yml
Due: none

ISSUE-135 Added basic tests (#21)
  .github/workflows/le-toolbox-integration-test.yml
Due: none

ISSUE-1 added tfautomv, terraform version updated, sso modified to use just one cache file
  Dockerfile
  Makefile
  scripts/aws-sso/aws-sso-configure.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
  scripts/aws-sso/aws-sso-login.sh
Due: image-data-modified

ISSUE-141 adding path to deploy beta and alpha images
  .circleci/workflows.yml
Due: none

ISSUE-141 fixing missing quote
  .circleci/workflows.yml
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-alpha [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  image-data-modified: ((any of: Dockerfile.template) or (any of: scripts/*)) or (any of: Makefile)
  image-not-modified: (any of: README.md) or (any of: @doc/*)
