Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, not-image-related

feature/ added vim to the toolbox image (#55)
  .github/workflows/le-toolbox-integration-test.yml
  Dockerfile
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.13 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.13 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.13 [ci skip]
  CHANGELOG.md
Due: none

Update README.md highlighting releases link
  README.md
Due: not-image-related

Update README.md highlighting releases link (#56)
  README.md
Due: not-image-related

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

synk-fix version bumped
  versions_to_build
Due: image-data-modified

[Snyk] Security upgrade debian from 11.6-slim to bullseye-20240211-slim (#57)
  Dockerfile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.14 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.14 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.14 [ci skip]
  CHANGELOG.md
Due: none

FEATURE/ terraform versions shifted up
  versions_to_build
Due: image-data-modified

FEATURE/ terraform versions shifted up (#58)
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.15 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.15 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.1.15 [ci skip]
  CHANGELOG.md
Due: none

Bump kubectl to v1.25.16
  Dockerfile
  versions_to_build
Due: image-data-modified

Bump kubectl to v1.27.13
  Dockerfile
  versions_to_build
Due: image-data-modified

Make it 1.28.9
  Dockerfile
Due: none

chore: Bump kubectl to v1.25.16 (#59)
  Dockerfile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.16 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.16 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.1.16 [ci skip]
  CHANGELOG.md
Due: none

chore: Bump kubectl to v1.28 (#60)
  Dockerfile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.17 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.17 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.6.0-0.1.17 [ci skip]
  CHANGELOG.md
Due: none

bump version
  versions_to_build
Due: image-data-modified

debugging docker
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

using newer version?
  Makefile
Due: image-data-modified

more debugging
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

forcing new path?
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

another try
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

20.04?
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

debugging
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

use version with improved debugging
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

Path conditions:
  image-data-modified: (((any of: versions_to_build) or (any of: Dockerfile.template)) or (any of: scripts/.*)) or (any of: Makefile)
  not-image-related: ((((any of: README.md) or (any of: @doc/.*)) or (any of: .chglog/.*)) or (any of: .circleci/.*)) or (any of: .github/.*)
