Repository binbashar/le-docker-leverage-toolbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: image-data-modified, not-image-related

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            versions_to_build image-data-modified true
            Dockerfile.template image-data-modified true
            scripts/.* image-data-modified true
            Makefile image-data-modified true
            README.md not-image-related true
            @doc/.* not-image-related true
            .chglog/.* not-image-related true
            .circleci/.* not-image-related true
            .github/.* not-image-related true
          config-path: .circleci/workflows.yml

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.6 [ci skip]
  CHANGELOG.md
Due: none

bump version
  Dockerfile
  versions_to_build
Due: image-data-modified

Add kubectl-1.23.15 binary to the image (#43)
  Dockerfile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.7 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.7 [ci skip]
  CHANGELOG.md
Due: none

fix - removed hardcoded version
  scripts/aws-sso/aws-sso-configure.sh
Due: image-data-modified

version bumped
  versions_to_build
Due: image-data-modified

commenting out failing sumo tests
  .circleci/workflows.yml
Due: not-image-related

fix - removed hardcoded version (#47)
  .circleci/workflows.yml
  scripts/aws-sso/aws-sso-configure.sh
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.8 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.8 [ci skip]
  CHANGELOG.md
Due: none

BUG-46 Added logic for downloading platform specific tools
  Dockerfile
  Makefile
Due: image-data-modified

BUG-46 Removed unused arg
  Makefile
Due: image-data-modified

BUG-46 Version bumped
  versions_to_build
Due: image-data-modified

BUG-46 Added logic for downloading platform specific tools (#49)
  Dockerfile
  Makefile
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.9 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.9 [ci skip]
  CHANGELOG.md
Due: none

UPDATE/ adding new version for Terraform
  versions_to_build
Due: image-data-modified

UPDATE/ switching back from Leverage CLI test version to stable
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related

UPDATE/ adding new version for Terraform (#52)
  .github/workflows/le-toolbox-integration-test.yml
  versions_to_build
Due: image-data-modified, not-image-related

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.10 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.10 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.10 [ci skip]
  CHANGELOG.md
Due: none

add msg with link to possible solutions
  scripts/aws-mfa/aws-mfa-entrypoint.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
Due: image-data-modified

bump version
  versions_to_build
Due: image-data-modified

fix/ long proj name with dashes
  scripts/aws-sso/aws-sso-configure.sh
Due: image-data-modified

[LV 202] - add msg with link to possible solutions (#53)
  scripts/aws-mfa/aws-mfa-entrypoint.sh
  scripts/aws-sso/aws-sso-entrypoint.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.11 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.11 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.11 [ci skip]
  CHANGELOG.md
Due: none

Filter default and sso profiles, drop the rest
  scripts/aws-sso/aws-sso-logout.sh
Due: image-data-modified

Bump version to 0.1.12
  versions_to_build
Due: image-data-modified

Fix | Bad SSO logout process (#54)
  scripts/aws-sso/aws-sso-logout.sh
  versions_to_build
Due: image-data-modified

Updating CHANGELOG.md via make create-changelog for 1.2.7-0.1.12 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.3.5-0.1.12 [ci skip]
  CHANGELOG.md
Due: none

Updating CHANGELOG.md via make create-changelog for 1.5.0-0.1.12 [ci skip]
  CHANGELOG.md
Due: none

feature/ added vim to the toolbox image
  Dockerfile
  versions_to_build
Due: image-data-modified

FIX/ adding non-interactive flag to Leverage
  .github/workflows/le-toolbox-integration-test.yml
Due: not-image-related
